github "ReactiveX/RxSwift" ~> 5.1
github "RxSwiftCommunity/Action" ~> 4.0
github "RxSwiftCommunity/RxDataSources" ~> 4.0
github "mxcl/PromiseKit" ~> 6.0
github "onevcat/Kingfisher" ~> 5.0
github "antranapp/XCoordinator" "xcode1141"
github "antranapp/objective-git" "master"
github "rinov/YoutubeKit" "master"
github "satishVekariya/LXVimeoKit" "master"
github "Daltron/NotificationBanner" "master"
github "keitaoouchi/MarkdownView" ~> 1.6
github "Quick/Quick" ~> 2.0
github "Quick/Nimble" ~> 8.0
